#root {

  margin: 0 auto;
  text-align: center;
}

.dark {
  background-color: #1b262c;
  color: #a6c2f7;
  font-family: 'Cormorant Garamond', 'Lato', serif;
}

.light {
  background-color: #C0C0C0;
  font-family: 'Cormorant Garamond', 'Lato', serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}